$color-yellow : #ffee7b;
$color_dark_green: #2e4c4c;
$color_back_header_footer: #222;

$color_a_invert: #222;
$color_a_invert_light: #3880aa;

$color_valid: #00a46c;
$color_invalid: #e1002e;
$color_valid_svg: '%2300a46c';
$color_invalid_svg: '%23e1002e';

$sm: 780px;
$sm_footer: 660px;

$header_height: 100px;
$header_height_shrink: 60px;

$padding_xl: 10%;
$padding_sm: 2.5%;

$gridMainMaxWidth: 1600px;

$transition_duration: 0.4s;