$color-yellow : #ffee7b;
$color_dark_green: #2e4c4c;

$color_valid: #00a46c;
$color_invalid: #e1002e;
$color_valid_svg: '%2300a46c';
$color_invalid_svg: '%23e1002e';

$sm: 600px;

$padding_xl: 10%;
$padding_sm: 2.5%;

$gridMainMaxWidth: 1600px;

$transition_duration: 0.4s;