@import "./_vars.scss";

html {
  font-family: "Open sans", sans-serif;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @media (max-width: 360px) {
    font-size: 50%;
  }
  @media (max-width: 360px) {
    font-size: 50%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}


::selection {
  background: rgba(0,156,222,.15);
  text-shadow: none;
}

input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  transition-property: all;
  transition-duration: .5s;

  &:disabled {
    color: #47494e;
    background-color: #cccccc;
    border: 1px solid #7f828b;
    cursor: not-allowed;
    &:hover {
      background-color: #cccccc;
    }
  }
}

form {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-content: start;

  & input[type="submit"] {
    //grid-column: 1 / span 2;
    justify-self: end;
  }

  & .form-group {
    position: relative;
    padding-top: 3rem;

    & input, textarea {
      width: 100%;
      padding: 0.5rem 1rem;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      margin: 0;

      background-repeat: no-repeat;
      background-size: 2rem;

      border: solid 1px $color_dark_green;
      outline: none;

      &.valid {
        border-color: $color_valid;
        color: $color_valid;
        background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='" + $color_valid_svg +"'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.invalid {
        border-color: $color_invalid;
        color: $color_invalid;
        background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='" + $color_invalid_svg +"'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    & input {
      height: 50px;
      background-position: right 1rem center;

      &[type='email'].invalid ~ .help-text::before {
        content: 'Entrez un email valide.'
      }
    }

    & textarea {
      background-position: right 1rem bottom 1rem;
      &.invalid ~ .help-text::before {
        content: 'Minimum 10 caractères.' !important;
      }
    }


    & label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2rem;
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: all 0.2s ease-out;
    }

    & input:placeholder-shown + label, textarea:placeholder-shown + label {
      opacity: 0;
      transform: translate3d(0,1rem,0);
    }

    & input ~ .help-text, textarea ~ .help-text {
      font-size: 1.3rem;
      color: $color_invalid;
      vertical-align: super;
    }
    & input:required ~ .help-text, textarea:required ~ .help-text {
      &::before {
        content: '*Requis';
      }
    }
  }


}



a {
  display: inline-block;
  color: $color-yellow;
  text-decoration: underline;
  &.a-invert {
    color: $color_a_invert;
  }
  &.a-invert-light {
    color: $color_a_invert_light;
  }
}

[class^=btn-] {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: .8rem;
  transition-property: all;
  transition-duration: .5s;
  line-height: 1.35;
  text-decoration: none !important;
}

.btn-transparent {
  border: .1rem solid $color-yellow;
  color: $color-yellow;

  &:hover {
    background-color: $color-yellow;
    color: #000;
  }
}

.btn-yellow {
  background-color: $color-yellow;
  color: #000;
  border: 0.1rem solid $color-yellow;

  &:hover {
    background-color: transparent;
    border: .1rem solid;
    color: #fff;
    border-color: #fff;
  }

  &.hover2:hover {
    background-color: transparent;
    color: #2e4c4c;
    border: .1rem solid;
    border-color: #2e4c4c;
  }
}

.btn-yellow-invert {
  background-color: transparent;
  color: #2e4c4c;
  border: .1rem solid;
  border-color: #2e4c4c;


  &:hover {
    background-color: $color-yellow;
    color: #000;
    border: 0.1rem solid $color-yellow;
  }
}

:not(.index) article {
  color: $color_dark_green;
}

.title {
  & h1 {
    font-size: 2.8rem;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    @media (max-width: 1200px) {
      font-size: 2rem;
    }
    & i {
      text-decoration: underline;
    }
  }
}

article {
  font-size: 1.8rem;
  font-weight: 300;
}

.content-type1 {
  grid-area: body;
  display: grid;
  grid-row-gap: 4rem;

  max-width: $gridMainMaxWidth;
  justify-self: center;

  align-content: start;

  padding-left: $padding_xl;
  padding-right: $padding_xl;
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (max-width: $sm) {
    padding-left: $padding_sm;
    padding-right: $padding_sm;
  }
}

#mini-toastr .mini-toastr__notification {
  opacity: 1;
  font-size: 1.2rem;
  width: 350px;
}

/**
** slide all to up
 */
.slide-all-to-up-leave-to { // old exit to
  transform: translate3d(0,-100%,0);
  opacity: 0;
}

.slide-all-to-up-leave {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-all-to-up-leave-active {
  transition: all $transition_duration ease-out;
}

.slide-all-to-up-enter {  // new enter from
  transform: translate3d(0,100%,0);
  opacity: 0;
}

.slide-all-to-up-enter-to {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-all-to-up-enter-active {
  transition: all $transition_duration ease-in;
}

/**
** slide all to down
 */
.slide-all-to-down-leave-to { // old exit to
  transform: translate3d(0,100%,0);
  opacity: 0;
}

.slide-all-to-down-leave {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-all-to-down-leave-active {
  transition: all $transition_duration ease-out;
}

.slide-all-to-down-enter {  // new enter from
  transform: translate3d(0,-100%,0);
  opacity: 0;
}

.slide-all-to-down-enter-to {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-all-to-down-enter-active {
  transition: all $transition_duration ease-in;
}

/*
** Appear from top, disappear to top
 */
.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0,-100%,0);
}

.slide-up-enter-to, .slide-up-leave {
  transform: translate3d(0,0,0);
}

.slide-up-leave-active, .slide-up-enter-active {
  transition: all $transition_duration ease-in;
}

/*
** Appear from right, disappear to right
 */
.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(100%,0,0);
}

.slide-right-enter-to, .slide-right-leave {
  transform: translate3d(0,0,0);
}

.slide-right-leave-active, .slide-right-enter-active {
  transition: all $transition_duration ease-in;
}